<template>
  <v-card class="mx-auto w-100"
    color="grey lighten-4"
    max-width="600"
    @click="onClick">
    <v-badge color="red"
      :content="product.is_bulk ? `${inCart} kg` : inCart"
      :value="inCart > 0 && showCartFeatures"
      overlap
      class="w-100">
        <v-hover v-slot:default="{ hover }">
          <v-img class="white--text align-end"
            :aspect-ratio="16/9"
            height="200px"
            :src="product.image">
            <v-card-title><strong>{{product.price | currency}} {{ product.is_bulk ? '/ kg' : ''}} </strong></v-card-title>
            <v-expand-transition>
              <div v-if="hover && showCartFeatures"
                class="d-flex flex-column transition-fast-in-fast-out white v-card--reveal"
                style="height: 100%;">
                <v-btn elevation="2" x-large fab outlined color="green" @click.native.prevent.stop="onAddToCart" icon><v-icon>mdi-cart-plus</v-icon></v-btn>
                <v-btn elevation="2" x-large fab outlined color="red" :style="`opacity: ${inCart ? 1 : 0}`" :ripple="inCart > 0" @click.native.prevent.stop="onMinusClicked" icon><v-icon>mdi-cart-minus</v-icon></v-btn>
              </div>
            </v-expand-transition>
          </v-img>
        </v-hover>
    </v-badge>
    <v-card-text class="text--primary">
      <strong class="primary--text mr-2 text-capitalize">{{product.name}}</strong>
      <strong>{{product.brand}} </strong>
      <div>{{ product.is_bulk ? '' : product.amount_display }}</div>
      <h6>{{product.type}} </h6>
    </v-card-text>
  </v-card>
</template>
<script>
import {mapGetters} from 'vuex'
export default {

  name: 'ProductCard',
  props: {
    product: {
      type: Object,
      required: true
    },
    showCartFeatures: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters({ cart: 'cart/product'}),
    inCart() {
      return this.cart(this.product.id)
    }
  },
  methods: {
    onClick() {
      this.$router.push({ name: 'Product', params: { id: this.product.id } }).finally(() => {
        this.$vuetify.goTo(0)
      })
    },
    onAddToCart() {
      if (this.product.is_bulk)
        this.$store.dispatch('cart/addCustom', {id: this.product.id, amount: 0.25})
      else 
        this.$store.dispatch('cart/add', this.product.id)
    },
    onPopFromCart() {
      if (this.product.is_bulk)
        this.$store.dispatch('cart/substract', {id: this.product.id, amount: 0.25})
      else
        this.$store.dispatch('cart/pop', this.product.id)
    },
    onMinusClicked() {
      if (this.inCart) this.onPopFromCart()
        else this.onClick()
    }
  }
}

</script>
<style scoped>
::v-deep .v-card__title {
  text-shadow: 0 0 6px #000000aa !important;
  background-color: #00000030;
}
::v-deep .v-badge__badge {
  font-size: 20px;
  height: 40px;
  min-width: 40px;
  z-index: 1;
  border-radius: 40px;
  padding: 10px;
  line-height: 100%;
  transform: translate(-20%, 20%);
}
::v-deep .v-card__reveal {
  opacity: 1 !important;
}
</style>
