<template>
  <div>
    <v-card outlined>
      <v-card-title>Filtros</v-card-title>
      <v-divider></v-divider>
      <tree-filter :items="types" v-model="filteredTypes" title="Categorías" @changed="updateQueryParams" />
      <tree-filter :items="tags" v-model="filteredTags" title="Etiquetas" @changed="updateQueryParams" />
      <tree-filter :items="brands" v-model="filteredBrands" title="Marcas" @changed="updateQueryParams"/>
      <v-divider></v-divider>
      <v-card-title>Precio</v-card-title>
      <v-range-slider v-model="range"
        :min="minPrice"
        :max="maxPrice"
        :height="10"
        :step="100"
        class="align-center"
        dense></v-range-slider>
      <v-row class="pa-2"
        dense>
        <v-col cols="12"
          sm="5">
          <v-text-field :value="range[0]"
            label="Min"
            prefix="$"
            outlined
            dense
            @change="$set(range, 0, $event)"></v-text-field>
        </v-col>
        <v-col cols="12"
          sm="2">
          <p class="pt-2 text-center">A</p>
        </v-col>
        <v-col cols="12"
          sm="5">
          <v-text-field :value="range[1]"
            label="Max"
            outlined
            prefix="$"
            dense
            @change="$set(range, 1, $event)"></v-text-field>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>
<script>
import TreeFilter from '@/components/Shop/TreeFilter'

export default {

  name: 'SearchFilter',
  components: {TreeFilter},
  props: {
    products: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      range: [0, 0],

      filteredBrands: [],
      filteredTypes: [],
      filteredTags: [],
    }
  },
  mounted() {
    this.range = [this.minPrice, this.maxPrice]
  },
  computed: {
    filterMethod() {
      this.$emit('reset-page')
      console.log("filter method changed")
      return (item) => {
        return this.priceInRange(item)
        && this.containsBrand(item)
        && this.containsType(item)
        && this.containsTags(item)
      }
    },
    brands() {
      return this.$store.getters['products/brands']
    },
    types() {
      // Categories
      return [...new Set(this.products.map(item => item.type))]
    },
    tags() {
      return [...new Set(this.products.map(item => item.tags).flat())]
    },
    minPrice() {
      return this.products.length ? Math.min(...this.products.map(item => item.price)) : 0
    },
    maxPrice() {
      return this.products.length ? Math.max(...this.products.map(item => item.price)) : 0
    },
    nothingSelected() {
      return [...this.filteredBrands, ...this.filteredTypes, ...this.filteredTags].length === 0
    }
  },
  methods: {
    priceInRange(item) {
      return this.range[0] <= item.price && item.price <= this.range[1]
    },
    containsBrand(item) {
      return this.filteredBrands.includes(item.brand)
    },
    containsType(item) {
      return this.filteredTypes.includes(item.type)
    },
    containsTags(item) {
      return (item.tags.length === 0 && this.filteredTags.length === this.tags.length)
      || item.tags.some(r => this.filteredTags.includes(r))
    },
    emitUpdate() {
      this.$emit('update', this.filterMethod)
    },
    updateQueryParams() {
      this.$router.push({path: this.$router.path, query: {
        types: this.filteredTypes.filter(Boolean).join(','),
        brands: this.filteredBrands.filter(Boolean).join(','),
        tags: this.filteredTags.filter(Boolean).join(',')
      }}).catch(() => {
      })
    },
    selectAll() {
      this.filteredTypes = this.types
      this.filteredBrands = this.brands
      this.filteredTags = this.tags
    }
  },
  watch: {
    nothingSelected: {
      immediate: true,
      handler(newVal) {
        if (newVal) this.selectAll()
      }
    },
    products: {
      handler() {
        this.range = [this.minPrice, this.maxPrice]
        if (this.nothingSelected) {
          this.selectAll()
        }
      },
      immediate: true
    },
    range(oldval, newval){
      this.emitUpdate()
    },
    '$route.query': {
      handler(newVal) {
        // if no query, select all
        this.$emit('reset-page')
        const noQuery = newVal && Object.keys(newVal).length === 0 && newVal.constructor === Object
        if (noQuery) {
          // this.selectAll()
          return
        }
        // Some query is in the url
        if (newVal.types !== undefined)
          this.filteredTypes = newVal.types.split(',')
        if (newVal.brands !== undefined) 
          this.filteredBrands = [...newVal.brands.split(','), null]
        if (newVal.tags !== undefined)
          this.filteredTags = [...newVal.tags.split(','), null]
      },
      immediate: true
    },
  },
}

</script>
<style lang="css"
  scoped>
</style>
