<template>
  <div class="d-flex align-center">
    <v-select
      v-model="selected"
      :items="options"
      outlined
      dense >
        <template #item="{item}">
          <div class="body-2">{{item}}</div>
        </template>
      </v-select>
    <v-select
      v-model="pageSize"
      :items="pageSizes"
      outlined
      dense
      class="ml-2"
      >
        <template #item="{item}">
          <div class="body-2">
            Mostrar: {{item}}
          </div>
        </template>
        <template #prepend-inner>
          <div class="d-flex align-center h-100 ma-0">Mostrar: </div>
        </template>
      </v-select>
  </div>
</template>
<script>
export default {

  name: 'SearchSort',

  data() {
    return {
      orderSelected: '',
      orderOptions: [{
      //   label: 'Relevancia',
      //   sortMethod: (p1, p2) => p1.id - p2.id
      // }, {
        label: 'Precio: Menor a mayor',
        sortMethod: (p1, p2) => p1.price - p2.price
      }, {
        label: 'Precio: Mayor a menor',
        sortMethod: (p1, p2) => p2.price - p1.price
      }, {
        label: 'Cantidad En Carro',
        sortMethod: (p1, p2) => {
          const inCart1 = this.$store.getters['cart/product'](p1.id)
          const inCart2 = this.$store.getters['cart/product'](p2.id)
          return inCart2 - inCart1
        }
      }],

      pageSizes: [12, 24, 48, 100],
      pageSize: 12,
    }
  },
  computed: {
    selected: {
      get() {
        return this.orderSelected.label
      },
      set(newVal) {
        this.orderSelected = this.orderOptions.find(item => item.label === newVal)
      }
    },
    options() {
      return this.orderOptions.map(item => item.label)
    },
  },
  mounted() {
    this.orderSelected = this.orderOptions[0]
  },
  watch: {
    orderSelected: {
      handler() {
        this.$emit('update', this.orderSelected.sortMethod)
      },
      immediate: false,
    },
    pageSize(newVal) {
      this.$emit('page-size', newVal)
    }
  }
}

</script>
<style lang="scss"
  scoped>
::v-deep .v-text-field__details{
  display: none;
}
::v-deep .v-input--dense > .v-input__control > .v-input__slot {
  margin-bottom: 0;
}
.v-input {
  ::v-deep &__prepend-inner {
    line-height: unset;
    align-self: center;
    margin-top: unset !important;
    & > div {
      color: black !important;
    }
  }
}
</style>
