<template>
  <v-treeview :items="treeItems"
    v-model="itemsSelected"
    item-key="name"
    hoverable
    selectable
    selected-color="primary"
    open-on-click
    :open-all="items.length < 10"
    @input="$emit('changed')"
    dense>
    <template #label="{item, selected, leaf, indeterminate}">
      <div class="text-capitalize"
      @click.stop="onSelected(item)"
        :class="!leaf && !selected && !indeterminate ? 'error--text' : ''">
        {{item.name || '-- Otros --'}}
      </div>
    </template>
  </v-treeview>
</template>
<script>
export default {
  props: {
    items: {
      type: Array,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    value: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      itemsSelected: []
    }
  },
  computed: {
    treeItems() {
      return [{
        name: this.title,
        children: [...this.items].sort(this.alphabeticSort).map(item => ({name: item}))
      }]
    },
  },
  watch: {
    itemsSelected: {
      handler(newVal) {
        this.$emit('input', newVal)
      },
      immediate: true
    },
    value: {
      handler(newVal) {
        this.itemsSelected = newVal.length === 0 ? this.items : newVal
      },
      immediate: true
    }
  },
  methods: {
    alphabeticSort(word1, word2) {
      if(word1 < word2 || word2 === null) return -1
      if(word1 > word2 || word1 === null) return 1
      return 0;
    },
    onSelected(item) {
      this.itemsSelected = [item.name]
    },
  }
}
</script>
<style lang="css"
  scoped>
</style>