<template>
  <tr>
    <td class="clickable" @click="onProductClicked">
      <v-list-item key="1">
      <v-list-item-avatar>
        <v-img :src="product.image"></v-img>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title class="text-capitalize">{{ product.name }} {{ product.brand }}</v-list-item-title>
        <v-list-item-subtitle>{{ product.description }}</v-list-item-subtitle>
      </v-list-item-content>
      </v-list-item>
    </td>
    <td>{{ product.price | currency}} {{ product.is_bulk ? ' / kg' : ''}}</td>
    <td>
      <v-text-field :min="0" style="max-width:50px" type="number" v-model="cartCount"></v-text-field>
    </td>
    <td>{{ Math.round(product.price * cartCount) | currency }}</td>
    <td><v-btn icon color="primary" @click="onRemoveFromCart"><v-icon>mdi-close</v-icon></v-btn></td>
  </tr>
</template>
<script>
export default {
  name: 'ProductListItem',
  props: {
    productId: {
      type: String,
      required: true
    }
  },
  computed: {
    product() {
      return this.$store.getters['products/byId'](this.productId)
    },
    cartCount: {
      get() {
        return this.$store.getters['cart/product'](this.productId)
      },
      set(newVal) {
        this.$store.dispatch('cart/set', {id: this.productId, amount: newVal})
      }
    }
  },
  methods: {
    onRemoveFromCart() {
      this.$emit('remove-from-cart')
    },
    onProductClicked() {
      this.$router.push({name: 'Product', params: {'id': this.productId}})
    }
  }
}

</script>