@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&family=Pacifico&display=swap');

// Globals
$font-cursive: 'Pacifico', cursive !important;
$font-sans-serif: 'Dosis', sans-serif !important;

$body-font-family: $font-sans-serif;

