<template>
  <div class="mapouter">
    <div class="gmap_canvas"><iframe 
        ref="gmap"
        id="gmap_canvas"
        :src="`https://maps.google.com/maps?q=${$store.state.settings.settings.address}&t=&z=17&ie=UTF8&iwloc=&output=embed`"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"></iframe></div>
  </div>
</template>
  <script>
  export default {

    name: 'LocationMap',
    
    data() {
      return {
        markers: [{
          position: {
            lat: -33.45,
            lng: -70.66
          }
        }],
        options: {
          clickableIcons: false,
          mapTypeControl: false,
          fullscreenControl: false,
          streetViewControl: false,
        }
      }
    },
  }
  </script>
  <style lang="css"
    scoped>
  #gmap_canvas {
    width: 765px;
    max-width: 80%;
    height: 600px;
    border-radius: 10px;
  }
  </style>
