<template>
    <v-container>
      <p class="display-2 font-weight-light text-center pa-4 cursive">Dónde Estamos</p>
      <v-row>
        <v-col cols="12">
          <div class="text-center body-1">
          <p>Nos encontramos en pleno Santiago Centro, a pasos del metro Toesca y Parque O'Higgins.</p>
          <location-map class="ml-auto mr-auto" />
          </div>
        </v-col>
      </v-row>
      <p class="display-2 font-weight-light	text-center pa-4 mt-12 cursive">Quiénes Somos</p>
        <v-row justify="center" class="mb-12">
          <v-col v-for="card in cards" :key="`card_${card.title}`" cols="12" md="4" sm="3">
            <v-card
              outlined
              elevation="12"
              tile
            >
              <v-img
                class="white--text align-end"
                height="400px"
                gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.8)"
                :src="card.imgSrc"
              >
                <v-card-title class="display-1">{{card.title}}</v-card-title>
              </v-img>

              <v-card-subtitle class="pb-0 d-none">Familia Chilena</v-card-subtitle>

              <v-card-text class="text--primary d-none">

                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nibh venenatis cras sed felis eget velit aliquet sagittis id. Enim praesent elementum facilisis leo vel fringilla est ullamcorper.

                </div>
              </v-card-text>

              <v-card-actions class="d-none">
                <v-btn
                  color="orange"
                  text
                >
                  Visítanos
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
    </v-container>
</template>
<script>
  import LocationMap from '@/components/About/LocationMap'
  export default {
    components: { LocationMap },
    data() {
      return {
        cards: [{
          imgSrc: require('@/assets/paulina-vale-2x.jpg'),
          title: 'Familia Chilena'
        }, {
          imgSrc: require('@/assets/logo-wood.jpg'),
          title: 'Somos Vegan'
        }, {
          imgSrc: require('@/assets/pasteles.jpg'), 
          title: 'Amamos lo que hacemos'
        }]
      }
    }
  }
</script>