<template>
  <div>
    <v-container>
      <p class="display-3 font-weight-light text-center pa-4">CARRITO</p>
      <v-row justify="center">
        <v-btn @click="emptyCartDialog = true"
          v-if="products.length !== 0">
          <v-icon>mdi-delete</v-icon>Vaciar carrito
        </v-btn>
      </v-row>
      <v-row v-if="products.length">
        <v-col :cols="12"
          md="9"
          sm="12">
          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-center">ITEM</th>
                  <th class="text-center">PRECIO UNIDAD</th>
                  <th class="text-center">CANTIDAD</th>
                  <th class="text-center">TOTAL</th>
                  <th class="text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr is="product-list-item"
                  v-for="productId in products"
                  :key="`product_${productId}`"
                  :id="productId"
                  @remove-from-cart="onRemoveProductFromCart(productId)"
                  :product-id="productId" />
              </tbody>
            </template>
          </v-simple-table>
        </v-col>
        <v-col :cols="12"
          md="3"
          sm="12"
          style="background-color: lightgray">
          <p class="headline">Resumen de Compra</p>
          <p class="overline">Coste de envío {{ shippingCharge ? 'fijo' : 'por acordar'}}</p>
          <v-simple-table>
            <template v-slot:default>
              <tbody>
                <tr>
                  <td>Subtotal</td>
                  <td class="text-right"
                    style="width: 50px;">{{ cartTotal | currency }}</td>
                </tr>
                <tr>
                  <td>Despacho</td>
                  <td class="text-right"
                    style="width: 50px;">{{ shippingCharge ? `$${shippingCharge}` : '(Por acordar)'}}</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td class="text-right"
                    style="width: 50px;"><b>{{cartTotal + shippingCharge | currency }}</b></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <div class="text-center">
            <v-btn class="primary white--text mt-5"
              @click="confirmDialog = true"
              outlined>Generar pedido</v-btn>
          </div>
        </v-col>
      </v-row>
      <v-container v-else>
        <v-row justify="center"
          class="headline">
          <div class="text-center">
            <div>
              El carrito está vacío <v-icon size="30" class="ml-3 primary--text">mdi-emoticon-sad</v-icon>
            </div>
            <v-btn color="primary" x-large @click="$router.push('/shop')" class="mt-4">
              <v-icon>mdi-store</v-icon>Ir a la Tienda
            </v-btn>
          </div>
        </v-row>
      </v-container>
    </v-container>
    <base-confirm-dialog v-model="confirmDialog"
      :title="`Confirmar pedido por ${products.length} producto${products.length === 1 ? '' : 's'}`"
      :message="`Confirmas tu pedido por <strong>$${cartTotal + shippingCharge}</strong>? Al presionar 'Confirmar' serás redirigido para contactarnos`"
      @confirm="onConfirmPurchase" />
    <base-confirm-dialog v-model="emptyCartDialog"
      title="Vaciar Carrito"
      :message="`¿Eliminar <strong>${products.length} productos</strong> de tu carrito?`"
      confirm-button="Eliminar"
      @confirm="onConfirmEmptyCart" />
    <base-confirm-dialog v-model="removeProductDialog"
      :title="`Quitar ${productToRemove.name}`"
      message="Estás seguro?"
      @confirm="onConfirmRemoveProduct" />
  </div>
</template>
<script>
import ProductListItem from '@/components/Cart/ProductListItem'
import BaseConfirmDialog from '@/components/Base/BaseConfirmDialog'

export default {
  components: { ProductListItem, BaseConfirmDialog },
  data: () => ({
    rating: 4.5,
    confirmDialog: false,
    productToRemove: {},
    removeProductDialog: false,
    emptyCartDialog: false,
    finishPurchaseDialog: true
  }),
  computed: {
    products() {
      return this.$store.getters['cart/productsWithZeros']
    },
    cartTotal() {
      return this.$store.getters['cart/total']
    },
    shippingCharge() {
      return this.$store.getters['settings/shipping'] || 0
    },
    // removeDialog: {
    //   get() {
    //     console.log(this.productToRemove.length > 0)
    //     return this.productToRemove.length > 0
    //   },
    //   set(newVal) {
    //     console.log("set new val", newVal)
    //     this.productToRemove = ''
    //   }
    // }
  },
  methods: {
    onConfirmEmptyCart() {
      this.emptyCartDialog = false
      this.$store.dispatch('cart/reset')
    },
    onRemoveProductFromCart(productId) {
      console.log("product to remove", productId)
      this.productToRemove = this.$store.getters['products/byId'](productId)
      this.removeProductDialog = true
    },
    onConfirmRemoveProduct() {
      this.$store.dispatch('cart/remove', this.productToRemove.id).then(() => {
        this.removeProductDialog = false
        this.productToRemove = {}
      })
    },
    onConfirmPurchase() {
      this.confirmDialog = false
      this.$router.push('/finish')
    }
  }
}
</script>