<template>
  <v-container>
    <v-row>
      <v-col>
        <p class="display-3 font-weight-light text-center pb-5">TU COMPRA</p>
      </v-col>
    </v-row>
    <senders @selected="selectedSender = $event"
      v-if="!selectedSender" />
    <sender-redirect v-else-if="!redirected"
      :sender="selectedSender"
      @redirected="redirected = true" />
    <v-row v-if="!redirected && products.length === 0">
      <v-row justify="center"
        class="headline">El carrito está vacío <v-icon class="ml-3 primary--text">mdi-emoticon-sad</v-icon>
      </v-row>
      <v-row justify="center"
        class="mt-3">
        <v-btn @click="$router.push('/shop')">
          <v-icon>mdi-store</v-icon>Ir a la Tienda
        </v-btn>
      </v-row>
    </v-row>
    <v-row v-if="redirected"
      justify="center">
      <v-container>
        <v-row>
          <v-col>
            <div class="text-center">
              <div class="display-2 d-flex justify-center cursive mb-2">Gracias!
                <v-icon color="primary"
                  size="50">mdi-emoticon-happy</v-icon>
              </div>
              <v-btn class="mt-4"
                x-large
                color="primary"
                @click="onFinish">Vaciar carro y volver a tienda</v-btn>
            </div>
          </v-col>
        </v-row>
        <v-row justify="center">
          <v-col cols="6">
            <v-expansion-panels flat
              class="mt-3">
              <v-expansion-panel v-for="(item,i) in 1"
                :key="i">
                <v-expansion-panel-header color="grey lighten-3">
                  Resumen de mi pedido
                </v-expansion-panel-header>
                <v-expansion-panel-content eager>
                  <v-textarea height="350px"
                    class="clickable gray"
                    autofocus
                    solo
                    readonly
                    ref="compiledMessage"
                    @click="onCompiledMessageClicked"
                    :value="compiledMessage" />
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
        </v-row>
      </v-container>
    </v-row>
  </v-container>
</template>
<script>
// import { whatsapp } from '@/utils/senders'
import Senders from '@/components/Finish/Senders'
import SenderRedirect from '@/components/Finish/SenderRedirect'

export default {
  components: { Senders, SenderRedirect },
  data: () => ({
    selectedSender: null,
    redirected: false
  }),
  computed: {
    products() {
      return this.$store.getters['cart/productsWithZeros']
    },
    cartTotal() {
      return this.$store.getters['cart/total']
    },
    compiledMessage() {
      return this.$store.getters['cart/compiledMessage']
    }
  },
  methods: {
    onCompiledMessageClicked() {
      const vm = this
      this.$nextTick().then(() => {
        vm.$refs.compiledMessage[0].$el.firstElementChild.firstElementChild.firstElementChild.firstElementChild.select()
        vm.$vuetify.goTo('.social-icon')
        vm.pulseSocial()
      })
    },
    pulseSocial() {
      document.getElementsByClassName('social-button').forEach(elem => {
        elem.classList.remove("social-pulse")
        void elem.offsetWidth;
        elem.classList.add("social-pulse")
      })
    },
    onFinish() {
      this.$store.dispatch('cart/reset').then(() => {
        this.$router.push('/shop')
      })
    }
  }
}
</script>
<style scoped>
::v-deep .v-expansion-panel-content__wrap {
  padding: 0px !important;
}
</style>
<style lang="scss">
.social-pulse {
  animation: zoomin .6s ease-in-out 3;

  .social-icon {
    animation: wobble .3s ease-in-out 6;
  }
}

@keyframes wobble {
  25% {
    transform: rotate(-20deg);
  }

  75% {
    transform: rotate(20deg);
  }
}

@keyframes zoomin {
  50% {
    transform: scale(1.7);
  }
}
</style>