<template>
  <div>
    <v-carousel hide-delimiters cycle :interval="3500" class="mb-4">
      <v-carousel-item v-for="item, index in carousel" :key="`carousel_${index}`"
        :src="item.src">
        <v-row class="fill-height"
          align="center"
          justify="center"
        >
          <div class="display-2 white--text hidden-sm-only cursive">{{item.text}}</div>
        </v-row>
      </v-carousel-item>
    </v-carousel>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <v-card>
          <v-img src="https://cdn.pixabay.com/photo/2015/02/20/17/45/nuts-643393_960_720.jpg"
            class="white--text align-center"
            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
            height="400px">
            <h1 class="text-center">Frutos secos a granel</h1>
            <div class="text-center">
              <v-btn @click="$router.push({path: '/shop', query: {types: 'Granel'}})"
                class="white--text "
                outlined>Comprar</v-btn>
            </div>
          </v-img>
        </v-card>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <v-card>
          <v-img src="https://cleangreensimple.com/wp-content/uploads/2020/10/vegan-bacon-brands.jpg"
            class="white--text align-center"
            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
            height="400px">
            <h1 class="text-center">Las mejores marcas</h1>
            <div class="text-center">
              <v-btn @click="$router.push({
                  path: '/shop',
                  query: {brands: $store.getters['products/brands'].filter(Boolean).join(',')}
                })"
                class="white--text"
                outlined>Comprar</v-btn>
            </div>
          </v-img>
        </v-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <v-card outlined>
          <v-img src="https://st3.depositphotos.com/1027198/18325/i/600/depositphotos_183250636-stock-photo-selection-food-gluten-free-wooden.jpg"
            class="white--text align-center"
            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
            height="300px">
            <h1 class="text-center">Sin Gluten</h1>
            <div class="text-center mt-2">
              <v-btn class="white--text caption"
                @click="$router.push({
                  path: '/shop',
                  query: {
                    tags: 'sin gluten'
                  }
                })"
                text>Comprar <v-icon class="white--text caption">mdi-arrow-right</v-icon>
              </v-btn>
            </div>
          </v-img>
        </v-card>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <v-card outlined>
          <v-img src="https://static.cms.yp.ca/ecms/media/1/42650638_xl-1445884186-600x360.jpg"
            class="white--text align-center"
            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
            height="300px">
            <h1 class="text-center">Congelados</h1>
            <div class="text-center mt-2">
              <v-btn class="white--text caption"
                @click="$router.push({
                  path: '/shop',
                  query: {
                    types: 'congelados'
                  }
                })"
                text>Comprar <v-icon class="white--text caption">mdi-arrow-right</v-icon>
              </v-btn>
            </div>
          </v-img>
        </v-card>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <v-card outlined>
          <v-img src="https://images.unsplash.com/photo-1602468943885-870562b6658e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjB8fHBhbnRyeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            class="white--text align-center"
            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
            height="300px">
            <h1 class="text-center">Despensa</h1>
            <div class="text-center mt-2">
              <v-btn class="white--text caption"
                @click="$router.push({
                  path: '/shop', 
                  query: {
                    types: 'Despensa'
                  }
                })"
                text>Comprar <v-icon class="white--text caption">mdi-arrow-right</v-icon>
              </v-btn>
            </div>
          </v-img>
        </v-card>
      </div>
    </div>
    <v-container>
      <v-row no-gutters>
        <v-col :cols="12">
          <v-card-title class="display-1 mt-4"><span class="text-center w-100">Algunos de nuestros productos</span></v-card-title>
          <deals-of-the-day />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12"
          justify-self="center">
          <div class="display-1 text-center mb-5 sans-serif">Síguenos en nuestras redes</div>
          <div class="d-flex justify-center">
            <div v-for="soc in social"
              :key="`social_${soc.name}`"
              class="clickable text-capitalize d-flex flex-column align-center px-4"
              @click="soc.go">
              <v-icon size="70">{{soc.icon}}</v-icon>
              <div class="title sans-serif">{{soc.name}}</div>
            </div>
          </div>
          <!-- <facebook-feed class="ml-auto mr-auto" /> -->
          <!-- <instagram-feed/> -->
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
// import InstagramFeed from '@/components/InstagramFeed'
import DealsOfTheDay from '@/components/Home/DealsOfTheDay'
import senders from '@/utils/senders'

export default {
  components: { DealsOfTheDay },
  data() {
    return {
      carousel: [{
        text: "Queremos que te sientas bien",
        src: "https://c.stocksy.com/a/KbX200/z9/605822.jpg"
      }, {
        text: "Productos de origen 100% vegetal",
        src: "https://www.healthspan.co.uk/-/media/images/healthspan-media/2020/07/09/14/11/vegan-replacement-banner2000px-900px.jpg?h=900&la=en&w=2000&rev=5bbeee6f8dbe4f6284c2ee9746c8d6c0&hash=349A2899DCA878A9120CBBF27E0D6C91",
      }, {
        text: "Es delicioso ser vegan",
        src: "https://st2.depositphotos.com/3935465/7265/i/600/depositphotos_72651923-stock-photo-vegan-rye-burger-with-vegetables.jpg"
      }, {
        text: "Bienvenido a la Familia",
        src: "https://miro.medium.com/max/4800/1*JqFgM7CLNIOVkjADyeVKPA.jpeg"
      }],
      social: [{
        name: 'instagram',
        icon: 'mdi-instagram',
        go: () => { window.open(this.$store.getters['settings/instagram'], '_blank') }
      }, {
        name: 'facebook',
        icon: 'mdi-facebook',
        go: () => { window.open(this.$store.getters['settings/facebook'], '_blank') }
      }, {
        name: 'whatsapp',
        icon: 'mdi-whatsapp',
        go: () => { senders.whatsapp.send(this.$store.getters['settings/whatsapp'], "Hola!")}
      }]
    }
  },
}

</script>
<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
}

</style>
<style scoped lang="scss">
.v-carousel__item {
  .v-image__image {
    ::v-deep &--cover {
      filter: brightness(0.3) !important;
    }
  }
}
::v-deep .v-carousel__item {
  text-shadow: 0 0 20px #00000080 !important;

}

</style>
