<template>
  <v-app>
    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      color="primary"
      dark
      shrink-on-scroll
      fade-img-on-scroll
      src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/shopping-bag-full-of-fresh-vegetables-and-fruits-royalty-free-image-1128687123-1564523576.jpg">
      <!-- src="https://instagram.fscl6-1.fna.fbcdn.net/v/t51.2885-15/e35/131403151_200444438354537_51888052051236688_n.jpg?tp=1&_nc_ht=instagram.fscl6-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=5NvV-Pzr9WAAX8d5uXF&oh=757639e78055d130d01a178b67dcedc6&oe=60634673" -->
      <!--      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />-->
      <v-toolbar-title style="height: 170%"
        class="clickable"
        @click="onHomeClicked">
        <img :src="require('@/assets/logotipo-white.png')"
          class="ml-2"
          style="transform: translateY(100%); height: 50%;">
      </v-toolbar-title>
      <v-toolbar-title class="ml-2 clickable"
        @click="onHomeClicked">
        <div>Tu Almacén Vegano</div>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field flat
        v-model="search"
        solo-inverted
        hide-details
        prepend-inner-icon="mdi-magnify"
        label="Buscar"
        class="hidden-sm-and-down pl-10 ml-4 d-none" />
      <v-spacer />
      <v-btn icon class="d-none">
        <v-icon>mdi-account-circle</v-icon>
      </v-btn>
      <!--  <v-btn v-on="on" icon>
        <v-badge
          content="2"
          value="2"
          color="green"
          overlap
        >
          <v-icon>mdi-bell</v-icon>
        </v-badge>
      </v-btn> -->
      <v-tooltip bottom>
        <template #activator="{on, attrs}">
          <v-btn v-on="on"
            class="mr-3"
            @click="$router.push('/cart').catch(() => {})"
            v-bind="attrs"
            icon>
            <v-badge :content="productsInCart"
              :value="productsInCart > 0"
              color="green"
              class="cart-badge"
              overlap>
              <v-icon>mdi-cart</v-icon>
            </v-badge>
            <v-chip v-if="productsInCart > 0"
              color="green cart-chip">{{cartTotal | currency}}</v-chip>
          </v-btn>
        </template>
        <span>{{ productsInCart === 0 ? 'Carrito vacío' : `Total: $${parseInt(cartTotal)}`}}</span>
      </v-tooltip>
      <template v-slot:extension>
        <v-tabs centered
          v-model="tab">
          <v-tab v-for="t in tabs"
            :key="t.label"
            @click="$router.push({name: t.name})">{{ t.label }}</v-tab>
        </v-tabs>
      </template>
    </v-app-bar>
    <v-main>
      <v-container fluid>
        <router-view />
      </v-container>
    </v-main>
    <v-footer class="pa-0">
      <v-card flat
        tile
        width="100%"
        class="primary white--text text-center">
        <warranty />
        <v-card-text>
          <v-btn v-for="soc in social"
            :key="`social_${soc.name}`"
            class="mx-4 white--text social-button"
            icon
            @click="soc.go()">
            <v-icon size="24px"
              class="social-icon">{{ soc.icon }}</v-icon>
          </v-btn>
        </v-card-text>
        <v-card-text class="white--text pt-0 d-flex justify-center align-center">
          <div>
            <v-img width="120"
              :src="require('@/assets/logoalpha.png')" />
          </div>
          <div class="text-left ml-3">
            Horario de atención:
            <br>- Lunes a viernes 10:30hrs a 18:00hrs
            <br>- Sábado 11:00hrs a 14:00hrs
          </div>
        </v-card-text>
        <v-card-text class="mt-0 pt-0">
          <a :href="`mailto:${$store.getters['settings/email']}`" class="white--text text-decoration-none"> {{ $store.getters['settings/email'] }}</a>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-text class="white--text d-flex justify-center align-center">
          <span>
            {{ new Date().getFullYear() }}
          </span>
          <span class="mx-3">—</span>
          <v-btn tile
            text
            class="white--text pa-0"
            plain
            @click="onDeveloperClicked">
            Mexomagno
            <v-icon dark class="ml-2">mdi-github</v-icon>
          </v-btn>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>
</template>
<script>
import Warranty from '@/components/Warranty'
import senders from '@/utils/senders'
export default {
  components: { Warranty },
  data() {
    return {
      items: [
        { title: 'T-Shirts' },
        { title: 'Jackets' },
        { title: 'Shirts' },
        { title: 'Jeans' },
        { title: 'Shoes' },
      ],
      on: false,
      tab: 0,
      tabs: [{
        label: 'Home',
        name: 'Home',
      }, {
        label: 'Tienda',
        name: 'Shop',
        additionalRoutes: ['Product', 'Cart', 'Finish'],
      }, {
        label: 'Nosotros',
        name: 'About'
      }],
      social: [{
        name: 'instagram',
        icon: 'mdi-instagram',
        go: () => { window.open(this.$store.getters['settings/instagram'], '_blank') }
      }, {
        name: 'facebook',
        icon: 'mdi-facebook',
        go: () => { window.open(this.$store.getters['settings/facebook'], '_blank') }
      }, {
        name: 'whatsapp',
        icon: 'mdi-whatsapp',
        go: () => { senders.whatsapp.send(this.$store.getters['settings/whatsapp'], "Hola!") }
      }],
      search: ''
    }
  },
  computed: {
    productsInCart() {
      return this.$store.getters['cart/products'].length
    },
    cartTotal() {
      return this.$store.getters['cart/total']
    },
  },
  watch: {
    '$route.name': {
      handler(newVal) {
        let tab = this.tabs.map(t => t.name).indexOf(newVal)
        if (tab < 0) {
          const isAdditionalRoute = t => {
            return t.additionalRoutes !== undefined && t.additionalRoutes.includes(newVal)
          }
          tab = this.tabs.map(t => t.name).indexOf(this.tabs.find(isAdditionalRoute).name)
        }
        this.tab = tab
      },
      immediate: true
    },
    search(newVal) {

    }
  },
  methods: {
    onHomeClicked() {
      this.$router.push('/').finally(() => this.$vuetify.goTo(0))
    },
    onDeveloperClicked() {
      window.open('https://github.com/mexomagno/', '_blank')
    }
  }
}
</script>
<style scoped lang="scss">
::v-deep .v-toolbar__image .v-image__image {
  filter: brightness(0.3) blur(4px);
  transform: scale(1.1);
}

::v-deep .v-chip {
  position: fixed;
  top: 50px;
  right: 7px;
  transform: scale(1.2);
}
.cart-badge {
  ::v-deep .v-badge__badge {
    transform: scale(1.4) translateX(6px);
  }
}
</style>