<template>
  <div>
    <v-container>
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
          <v-carousel hide-delimiters
            :show-arrows="false">
            <v-carousel-item :src="product.image" />
          </v-carousel>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
          <v-breadcrumbs class="pb-0"
            :items="breadcrums"></v-breadcrumbs>
          <div class="pl-6">
            <p class="display-1 mb-0 text-capitalize">{{ product.name }}</p>
            <div class="heading">{{ product.brand_display }}</div>
            <v-card-actions class="pa-0">
              <p class="display-2 font-weight-light pt-3">{{ product.price | currency}}
                <small style=""
                  class="subtitle-1 primary--text">{{product.is_bulk ? '/ kg' : product.amount_display }}</small>
              </p>
              <v-spacer></v-spacer>
              <v-rating v-model="rating"
                class="d-none"
                background-color="warning lighten-3"
                color="warning"
                dense></v-rating>
              <span class="body-2 d-none font-weight-thin"> {{reviews.length}} OPINIONES</span>
            </v-card-actions>
            <p v-if="product.is_bulk">{{ Math.round(computedBulkMultiplier * product.price) | currency}} <small class="subtitle-2 primary--text">/ {{ computedBulkMultiplier}} Kg</small></p>
            <p class="subtitle-1 font-weight-thin">
              {{ product.description }}
            </p>
            <div v-if="product.is_bulk">
              <p class="title">Cantidad</p>
              <div class="d-flex">
                <v-radio-group v-model="bulkMultiplier"
                  row>
                  <v-radio label="250g"
                    :value="0.25" />
                  <v-radio label="500g"
                    :value="0.5" />
                  <v-radio label="750g"
                    :value="0.75" />
                  <v-radio label="1kg"
                    :value="1" />
                  <v-radio label="Otro"
                    :value="-1" />
                </v-radio-group>
                <v-text-field v-show="bulkMultiplier < 0"
                  placeholder="Peso en gramos"
                  type="number"
                  v-model="customMultiplier"
                  step="100"
                  suffix="g"
                  prepend-inner-icon="mdi-weight-gram"
                  full-width
                  class="bulk-input"
                  :hint="`${customMultiplier / 1000.0} Kg`">
                  <template #message="{key, message}">
                    <div class="kg-converter">{{message}}</div>
                  </template>
                </v-text-field>
              </div>
            </div>
            <div v-if="!product.is_bulk">
              
            <p class="title">ITEMS</p>
            <v-text-field outlined
              style="width:100px"
              type="number"
              v-model.number="toSetToCart"
              min="0"
              dense></v-text-field>
            </div>
            <v-btn class="primary white--text"
              @click="onUpdateCart"
              outlined
              tile
              dense
              :disabled="onCart === 0 && toSetToCart === 0">
              <v-icon>mdi-cart</v-icon>
              <span v-if="toSetToCart > 0">
                {{ product.is_bulk ? 'AGREGAR AL CARRITO' : 'ACTUALIZAR CARRITO' }}
              </span>
              <span v-else>QUITAR DEL CARRITO</span>
            </v-btn>

            <v-alert v-if="onCart > 0"
              class="mt-2"
              text
              type="success">
              <div v-if="!product.is_bulk">
                <strong>{{ onCart }}</strong> unidad{{ onCart === 1 ? '' : 'es'}} actualmente en el carrito
              </div>
              <div v-else>
                <strong>{{ onCart }} Kgs</strong> actualmente en el carrito
              </div>
            </v-alert>
            <!-- <v-btn class="ml-4" outlined tile>ADD TO WISHLIST</v-btn> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12">
          <v-tabs>
            <v-tab>Descripcion</v-tab>
            <!-- <v-tab>REVIEWS</v-tab> -->
            <v-tab-item>
              <p class="pt-10 subtitle-1 font-weight-thin">
                {{ product.description ? product.description : '-- Sin Descripción --'}}
              </p>
            </v-tab-item>
            <v-tab-item>
              <v-list three-line
                avatar>
                <v-list-item-group v-model="review"
                  color="primary">
                  <v-list-item v-for="(item, i) in reviews"
                    :key="i"
                    :inactive="true">
                    <v-list-item-avatar>
                      <v-img :src="item.avatar"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title v-html="item.title"></v-list-item-title>
                      <v-rating v-model="rating"
                        class=""
                        background-color="warning lighten-3"
                        color="warning"
                        dense></v-rating>
                      <v-list-item-subtitle v-html="item.subtitle"></v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-tab-item>
          </v-tabs>
          <v-card-text class="pa-0 pt-4"
            tile
            outlined>
            <p class="subtitle-1 font-weight-light pt-3 text-center">NO TE PIERDAS ESTOS PRODUCTOS</p>
            <v-divider></v-divider>
            <div class="row text-center">
              <deals-of-the-day :count="6" />
            </div>
          </v-card-text>
        </div>
      </div>
    </v-container>
  </div>
</template>
<script>
import DealsOfTheDay from '@/components/Home/DealsOfTheDay'

export default {
  components: { DealsOfTheDay },
  data: () => ({
    bulkMultiplier: 0.25,
    customMultiplier: 2000,
    rating: 4.5,
    review: 5,
    toSetToCart: 1
  }),
  computed: {
    id() {
      return this.$route.params.id
    },
    product() {
      return this.$store.state.products.product
    },
    onCart() {
      return this.$store.getters['cart/product'](this.id)
    },
    reviews() {
      return [{
          avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
          title: 'Fake Review',
          subtitle: "<span class='text--primary'>Ali Connors</span> &mdash; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Tincidunt arcu non sodales neque sodales ut etiam. Lectus arcu bibendum at varius vel pharetra. Morbi tristique senectus et netus et malesuada.\n" +
            "\n",
        },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
          title: 'Lorem ipsum dolor <span class="grey--text text--lighten-1">4</span>',
          subtitle: "<span class='text--primary'>to Alex, Scott, Jennifer</span> &mdash; Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore"
        },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
          title: 'Fake Review',
          subtitle: "<span class='text--primary'>Sandra Adams</span> &mdash; Lorem ipsum dolor sit amet, consectetur adipiscing elit"
        },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg',
          title: 'Fake Review',
          subtitle: ""
        },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/5.jpg',
          title: 'Fake Review',
          subtitle: "<span class='text--primary'>Britta Holt</span> &mdash; Lorem ipsum dolor sit amet, consectetur adipiscing elit"
        }
      ]
    },
    breadcrums() {
      return [{
          text: 'Home',
          disabled: false,
          href: '/home',
        },
        {
          text: 'Tienda',
          disabled: false,
          href: '/shop',
        },
        {
          text: this.product.type,
          disabled: true,
        },
      ]
    },
    computedBulkMultiplier() {
      if (!this.product.is_bulk) return 0
      return this.bulkMultiplier < 0 ? this.customMultiplier / 1000 : this.bulkMultiplier
    }
  },
  mounted() {
    this.$vuetify.goTo(0)
  },
  watch: {
    id: {
      handler(newVal) {
        // Retrieve product
        this.$store.dispatch('products/fetchItem', newVal)
      },
      immediate: true
    },
    onCart: {
      handler(newVal) {
        this.toSetToCart = newVal
      },
      immediate: true
    },
    customMultiplier(newVal) {
      if (this.product.is_bulk) {
        this.toSetToCart = newVal
      }
    },
    bulkMultiplier: {
      handler(newVal) {
        if (this.product.is_bulk && newVal >= 0)
          this.toSetToCart = newVal
      },
      immediate: true
    },
    product(newVal) {
      if (newVal.is_bulk) this.toSetToCart = 1 
    }
  },
  methods: {
    onUpdateCart() {
      if (this.toSetToCart === 0) {
        this.$store.dispatch('cart/remove', this.id)
        return
      }
      const toSet = this.product.is_bulk ? this.computedBulkMultiplier : this.toSetToCart
      this.$store.dispatch('cart/set', { id: this.id, amount: toSet })
    }
  }
}
</script>
<style lang="scss"
  scoped>
.kg-converter {
    font-size: 1.7em !important;
    min-height: 22px;
    margin-top: 5px;
}
.bulk-input {
  height: 0;
  transform: translateY(-100%);
  max-width: 120px;
}
</style>