<template>
  <div>
    <v-container>
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <search-filter :products="allProducts" @update="filterMethod = $event" @reset-page="page = 1"/>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <v-breadcrumbs class="pb-0"
            :items="breadcrums"></v-breadcrumbs>
          <v-row dense align="center" class="pb-6">
            <v-col cols="12" sm="8" class="d-none" >
              <v-progress-linear v-if="fetching" indeterminate height="10"></v-progress-linear>
              <small v-else :key="now">Mostrando {{ pagedProducts.length }} de {{processedProducts.length}} productos. Última actualización {{ $moment.unix(lastUpdate) | moment("from") }}. <a @click="onDoFetch">Actualizar</a></small>
            </v-col>
            <v-spacer />
            <v-col cols="12"
              sm="6">
              <search-sort @update="sortMethod = $event" @page-size="pageSize = $event" />
            </v-col>
          </v-row>
          <v-divider></v-divider>
          <v-row class="text-center" v-if="pagedProducts.length">
            <v-col
              cols="3"
              sm="6"
              md="3"
              xs="12"
              v-for="pro in pagedProducts"
              :key="pro.id">
              <product-card :product="pro" />
            </v-col>
          </v-row>
          <div v-else-if="fetching">
              <v-progress-linear indeterminate height="10"></v-progress-linear>
          </div>
          <div v-else class="mt-2 secondary--text">Tu búsqueda no arrojó resultados.</div>
          <div class="text-center mt-12">
            <v-pagination v-model="page"
              :length="Math.ceil(processedProducts.length / pageSize)"></v-pagination>
          </div>
        </div>
      </div>
    </v-container>
  </div>
</template>
<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .8;
  position: absolute;
  width: 100%;
}

</style>
<script>
import SearchFilter from '@/components/Shop/SearchFilter'
import SearchSort from '@/components/Shop/SearchSort'
import ProductCard from '@/components/Shop/ProductCard'

export default {
  components: {
    SearchFilter,
    SearchSort,
    ProductCard,
  },
  data() {
    return {
      page: 1,
      pageSize: 12,
      filteredProducts: [],
      now: Date.now(),
      interval: null,
      filterMethod: () => true,
      sortMethod: (p1, p2) => p1.id - p2.id,
      breadcrums: [{
          text: 'Tienda',
          disabled: false,
          href: '/shop',
        },
        {
          text: 'Comprar',
          disabled: true,
          href: '#',
        },
      ],
    }
  },
  created() {
    if (this.interval) {
      window.clearInterval(this.interval)
      this.interval = null
    }
    this.interval = window.setInterval(() => {
      this.now = Date.now()
      // update database
      this.$store.dispatch('products/fetchItems')
    }, 60000)
  },
  mounted(){
    this.$vuetify.goTo(0)
  },
  computed: {
    allProducts() {
      return this.$store.getters['products/all']
    },
    processedProducts() {
      return this.allProducts.filter(this.filterMethod).sort(this.sortMethod)
    },
    pagedProducts() {
      return this.processedProducts.slice((this.page - 1) * this.pageSize, (this.page - 1) * this.pageSize + this.pageSize)
    },
    lastUpdate() {
      return this.$store.getters['products/lastUpdate']
    },
    fetching() {
      return this.$store.state.products.fetching
    }
  },
  methods: {
    onDoFetch() {
      this.$store.dispatch('products/fetchItems')
    },
  }
}

</script>
