<template>
  <v-dialog v-model="show"
      width="500">
      <v-card>
        <v-card-title class="headline grey lighten-2" v-html="title">
        </v-card-title>
        <v-card-text class="mt-4 body-1" v-html="message">
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn text
            @click="show = false">
            Cancelar
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary"
            text
            @click="$emit('confirm')">
            {{confirmButton}}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      required: true
    },
    title: {
      type: String, 
      default: ''
    },
    message: {
      type: String,
      default: ''
    },
    confirmButton: {
      type: String,
      default: "Confirmar"
    }
  },
  data () {
    return {
      show: false
    }
  },
  watch: {
    value: {
      handler(newVal){
        this.show = newVal
      },
      immediate: true
    },
    show(newVal) {
      this.$emit('input', newVal)
    }
  }, 
}
</script>

<style lang="css" scoped>
</style>