<template>
  <v-card-text class=""
    tile
    outlined>
    <v-row>
      <v-col v-for="item in products"
        :key="`item_${item.id}`">
        <v-hover v-slot:default="{ hover }">
          <product-card :product="item"
            :class="`elevation-${hover ? 12 : 2}`"
            :show-cart-features="false" />
        </v-hover>
      </v-col>
    </v-row>
  </v-card-text>
  <!-- <div>asdfasdf</div> -->
</template>
<script>
import ProductCard from '@/components/Shop/ProductCard'

export default {

  name: 'DealsOfTheDay',
  components: { ProductCard },
  props: {
    count: {
      type: Number,
      default: 4
    }
  },
  computed: {
    // Random products
    products() {
      const allProducts = this.$store.getters['products/all']
      const nProducts = allProducts.length
      const nums = new Set();
      while (nums.size !== Math.min(this.count, nProducts)) {
        nums.add(Math.floor(Math.random() * nProducts));
      }
      return allProducts.filter((item, index) => [...nums].includes(index))
    }
  }
}
</script>
<style lang="css"
  scoped>
::v-deep .v-card {
  transition: box-shadow .2s ease;
}
</style>