<template>
  <div>
    <iframe :src="`https://www.facebook.com/plugins/page.php?href=${url}%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId`" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
  </div>
</template>

<script>

export default {

  name: 'FacebookFeed',

  data () {
    return {
      url: "https://www.facebook.com/La-familia-vegan-120983226480567/"
    }
  }
}
</script>

<style lang="css" scoped>
</style>