<template>
<!--   <instagram-embed :url="'https://www.instagram.com/p/Bs_yHwHBjKo/'"
    :max-width=500 /> -->
    <div>ola</div>
</template>
<script>
// import InstagramEmbed from 'vue-instagram-embed';

export default {

  name: 'InstagramFeed',
  components: {
    // InstagramEmbed
  },
  data() {
    return {

    }
  }
}

</script>
<style lang="css"
  scoped>
</style>
