<template>
  <v-card class="accent">
    <v-container>
      <v-row no-gutters align="center">
        <v-col class="col-12 col-md-4 col-sm-12">
          <v-row>
            <v-col class="col-12 col-sm-3 pr-4"
              align="right">
              <v-icon size="50">mdi-truck</v-icon>
            </v-col>
            <v-col class="col-12 col-sm-9 pr-4">
              <h3 class="font-weight-light">Despachos a toda la Región Metropolitana</h3>
              <p class="font-weight-thin d-none">Gratis por compras sobre $30.000</p>
            </v-col>
          </v-row>
        </v-col>
        <v-col class="col-12 col-md-4 col-sm-12">
          <v-row>
            <v-col class="col-12 col-sm-3 pr-4"
              align="right">
              <v-icon size="50">mdi-cash-usd</v-icon>
            </v-col>
            <v-col class="col-12 col-sm-9 pr-4">
              <h3 class="font-weight-light">Medios de pago a tu medida</h3>
              <p class="font-weight-thin">Tarjeta de crédito, débito, transferencia y efectivo</p>
            </v-col>
          </v-row>
        </v-col>
        <v-col class="col-12 col-md-4 col-sm-12">
          <v-row>
            <v-col class="col-12 col-sm-3 pr-4"
              align="right">
              <v-icon size="50">mdi-whatsapp</v-icon>
            </v-col>
            <v-col class="col-12 col-sm-9 pr-4">
              <h3 class="font-weight-light">{{ $store.getters['settings/whatsapp'] | phone}}</h3>
              <p class="font-weight-thin">¡Contáctanos! Responderemos tus dudas dentro del mismo día</p>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>
<script>
export default {

  name: 'Warranty',

  data() {
    return {

    }
  }
}

</script>
<style lang="css"
  scoped>
</style>
