<template>
  <div id="app">
    <router-view />
  </div>
</template>
<script>
export default {
  name: 'App',
  mounted() {
    this.$store.dispatch('products/fetchItems')
    this.$store.dispatch('settings/fetch')
  }
}
</script>
<style lang="scss">

.clickable {
  cursor: pointer;
}

.v-application {
  font-size: 1.3em;
  .display-2 {
    font-family: $font-cursive;
    &.cursive {
      font-family: $font-cursive;
    }
  }
  .display-1.sans-serif {
    font-family: $font-sans-serif;
  }

  h1 {
    font-family: $font-cursive;
  }

  .cursive {
    font-family: $font-cursive;
  }
  .sans-serif {
    font-family: $font-sans-serif;
  }
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}
</style>