<template>
  <v-container>
    <template v-if="selected < 0">
    <div class="display-2 cursive text-center mb-7">Escoge cómo contactarnos</div>
    <v-row justify="center">
      <v-hover v-slot:default="{hover}"
        v-for="sender, index in senders"
          :key="`sender_${index}`"
      >
        <v-col cols="3"
          rounded
          @click="$emit('selected', sender)"
          >
          <v-card class="pb-3 primary--text text-center"
            :class="`clickable elevation-${hover ? 12 : 3}`">
            <v-card-title class="display-1">
              <div class="w-100">{{ sender.name }}</div>
            </v-card-title>
            <v-card-actions class="d-flex justify-center">
                <v-icon color="primary"
                  size="60">{{ sender.icon }}</v-icon>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-hover>
    </v-row>
    </template>
  </v-container>
</template>
<script>
import senders from '@/utils/senders'

export default {
  data() {
    return {
      selected: -1
    }
  },
  mounted() {
    if (this.senders.length === 1) {
      // Choose first sender
      this.selected = 0
    }
  },
  computed: {
    senders() {
      const result = []
      for (var envVar in process.env) {
        if (!envVar.startsWith("VUE_APP_SENDER_") || !process.env[envVar])
          continue
        if (envVar.endsWith('EMAIL')) {
          result.push(senders.email)
        }
        if (envVar.endsWith('WHATSAPP')) {
          result.push(senders.whatsapp)
        }
      }
      return result
    }
  },
  watch: {
    selected(newVal) {
      this.$emit('selected', this.senders[newVal])
    }
  }
}
</script>
<style lang="css"
  scoped>
.clickable {
  transition: box-shadow .1s ease-in-out;
}
</style>