<template>
  <div></div>
</template>
<script>
import senders from '@/utils/senders'

export default {
  data () {
    return {

    }
  },
  mounted() {
    this.$emit('ready', () => senders.email.send(
      this.$store.getters['settings/email'],
      `Compra por ${this.$store.getters['cart/total']}`,
      this.$store.getters['cart/compiledMessage']
    ))
  }
}
</script>
