<template>
  <div></div>
</template>
<script>
import senders from '@/utils/senders'

export default {
  data () {
    return {

    }
  },
  mounted() {
    this.$emit('ready', () => senders.whatsapp.send(
      this.$store.getters['settings/whatsapp'],
      this.$store.getters['cart/compiledMessage']
    ))
  }
}
</script>
