<template>
  <v-row class="text-center">
    <component :is="sender.component" @ready="sendAction = $event" v-if="!sendAction"/>
    <v-col v-else>
      <v-row class="text-center">
        <v-col style="position: relative; height: 120px">
          <v-icon style="position: absolute; transform: translate(-50%, -50%)"
            class="redirect-icon mt-5"
            color="primary">{{sender.icon}}</v-icon>
        </v-col>
      </v-row>
      <div class="body-1">Te estamos redirigiendo a nuestro <span class="primary--text">{{ sender.name}}...</span></div>
      <v-row justify="center">
        <v-col cols="6"
          justify-self="center">
          <v-expansion-panels flat
            class="mt-3">
            <v-expansion-panel v-for="(item,i) in 1"
              :key="i">
              <v-expansion-panel-header color="grey lighten-2">
                O si prefieres, puedes enviarnos directamente este mensaje por alguna de nuestras redes
              </v-expansion-panel-header>
              <v-expansion-panel-content eager>
                <v-textarea height="350px"
                  class="clickable gray"
                  autofocus
                  solo
                  readonly
                  ref="compiledMessage"
                  :value="compiledMessage" />
                  <!-- @click="onCompiledMessageClicked" -->
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>
<script>
import { WHATSAPP, EMAIL } from '@/utils/senders'
import SenderWhatsapp from './SenderWhatsapp'
import SenderEmail from './SenderEmail'

export default {
  components: { SenderWhatsapp, SenderEmail },
  props: {
    sender: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      WHATSAPP,
      EMAIL,
      sendAction: null
    }
  },
  computed: {
    compiledMessage() {
      return this.$store.getters['cart/compiledMessage']
    }
  },
  watch: {
    sendAction(newVal) {
      if (newVal) {
        console.log("sending...")
        window.setTimeout(() => { newVal(this); this.$emit('redirected')}, 2000)
      }
    }
  }
}
</script>
<style lang="css"
  scoped>

::v-deep .v-icon.redirect-icon {
  opacity: 0.5;
  /*font-size: 160px !important;*/
  font-size: 130px;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {

  /*0% { font-size: 150px !important;}*/
  50% {
    opacity: 1.0;
    font-size: 170px;
  }
}
</style>